Repository StackVista/stackstate-agent-integrations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

Path conditions:
  test_stackstate_checks_base: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_stackstate_checks_dev: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_kubernetes: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: kubernetes/*, kubernetes/**/*)
  test_dynatrace: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: dynatrace/*, dynatrace/**/*)
  test_kubelet: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: kubelet/*, kubelet/**/*)
  test_kubernetes_state: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: kubernetes_state/*, kubernetes_state/**/*)
  test_mysql: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: mysql/*, mysql/**/*)
  test_openmetrics: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: openmetrics/*, openmetrics/**/*)
  test_postgres: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: postgres/*, postgres/**/*)
  test_cloudera: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: cloudera/*, cloudera/**/*)
  test_aws_topology: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: aws_topology/*, aws_topology/**/*)
  test_aws_xray: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: aws_xray/*, aws_xray/**/*)
  test_sap: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: sap/*, sap/**/*)
  test_agent_integration_sample: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: agent_integration_sample/*, agent_integration_sample/**/*)
  test_vsphere: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: vsphere/*, vsphere/**/*)
  test_zabbix: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: zabbix/*, zabbix/**/*)
  test_servicenow: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: servicenow/*, servicenow/**/*)
  test_static_topology: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: static_topology/*, static_topology/**/*)
  test_nagios: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: nagios/*, nagios/**/*)
  test_stackstate_checks_dev_win: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_stackstate_checks_base_win: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_wmi_check: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: wmi_check/*, wmi_check/**/*)
  test_cloudera_win: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: cloudera/*, cloudera/**/*)
  test_aws_xray_win: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: aws_xray/*, aws_xray/**/*)
  publish-checks-dev: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*

enforce homogeneous lists in agent base
  stackstate_checks_base/stackstate_checks/base/checks/base.py
  stackstate_checks_base/tests/test_agent_check.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

update exceptions
  stackstate_checks_base/stackstate_checks/base/checks/base.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

ensure validation fails for components, relations and events containing non-homogeneous lists
  stackstate_checks_base/stackstate_checks/base/checks/base.py
  stackstate_checks_base/tests/test_agent_check.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

test fixes, validation exception for unicode, updated ddtrace dependency for py3
  stackstate_checks_base/requirements.in
  stackstate_checks_base/stackstate_checks/base/checks/base.py
  stackstate_checks_base/stackstate_checks/base/data/agent_requirements.in
  stackstate_checks_base/tests/test_agent_check.py
  stackstate_checks_base/tests/test_encoding.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

fix multiple versions of ddtrace, update gitlab runner image to artifactory
  .gitlab-ci.yml
  stackstate_checks_base/requirements.in
  stackstate_checks_base/stackstate_checks/base/data/agent_requirements.in
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

revert image
  .gitlab-ci.yml
Due: none

add custom device as component
  dynatrace/stackstate_checks/dynatrace/data/conf.yaml.example
  dynatrace/stackstate_checks/dynatrace/dynatrace.py
  dynatrace/tests/samples/custom_device_response.json
  dynatrace/tests/samples/expected_custom_device_topology.json
  dynatrace/tests/test_dynatrace_event.py
  dynatrace/tests/test_dynatrace_tags.py
  dynatrace/tests/test_dynatrace_topology.py
Due: test_dynatrace

update default min_collection_interval to 120
  aws_topology/stackstate_checks/aws_topology/data/conf.yaml.example
Due: test_aws_topology

add custom-device type
  dynatrace/stackstate_checks/dynatrace/dynatrace.py
  dynatrace/tests/samples/custom_device_response.json
  dynatrace/tests/samples/expected_custom_device_topology.json
  dynatrace/tests/test_dynatrace_event.py
  dynatrace/tests/test_dynatrace_tags.py
  dynatrace/tests/test_dynatrace_topology.py
Due: test_dynatrace

update default min_collection_interval to 120 (#212)
  aws_topology/stackstate_checks/aws_topology/data/conf.yaml.example
Due: test_aws_topology

Stac 0000 agent integrations smarter pipeline (#207)
  .gitlab-ci.yml
Due: none

Add ruamel
  stackstate_checks_base/requirements.in
  stackstate_checks_base/stackstate_checks/base/data/agent_requirements.in
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

ensure new line at the end of the file
  stackstate_checks_base/requirements.in
  stackstate_checks_base/stackstate_checks/base/data/agent_requirements.in
  stackstate_checks_base/stackstate_checks/utils/diff.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

remove unwanted file
  stackstate_checks_base/stackstate_checks/utils/diff.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

Add ruamel (#214)
  stackstate_checks_base/requirements.in
  stackstate_checks_base/stackstate_checks/base/data/agent_requirements.in
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

initial commit
  solarwinds/CHANGELOG.md
  solarwinds/MANIFEST.in
  solarwinds/README.md
  solarwinds/manifest.json
  solarwinds/metadata.csv
  solarwinds/requirements-dev.txt
  solarwinds/requirements.in
  solarwinds/setup.py
  solarwinds/stackstate_checks/__init__.py
  solarwinds/stackstate_checks/solarwinds/__about__.py
  solarwinds/stackstate_checks/solarwinds/__init__.py
  solarwinds/stackstate_checks/solarwinds/data/conf.yaml.example
  solarwinds/stackstate_checks/solarwinds/solarwinds.py
  solarwinds/tests/__init__.py
  solarwinds/tests/conftest.py
  solarwinds/tests/test_solarwinds.py
  solarwinds/tox.ini
Due: none

implement pagingation to collect vustom devices
  dynatrace/stackstate_checks/dynatrace/dynatrace.py
  dynatrace/tests/samples/custom_device_response_next_page.json
  dynatrace/tests/samples/expected_custom_device_pagination_full_topology.json
  dynatrace/tests/test_dynatrace_topology.py
Due: test_dynatrace

fix review comments and add custom device link
  dynatrace/stackstate_checks/dynatrace/dynatrace.py
Due: test_dynatrace

migrated solarwinds check to this repo
  solarwinds/requirements.in
  solarwinds/stackstate_checks/solarwinds/__init__.py
  solarwinds/stackstate_checks/solarwinds/solarwinds.py
  solarwinds/tests/conftest.py
  solarwinds/tests/test_solarwinds.py
Due: none

refactoring code on review suggestion
  dynatrace/stackstate_checks/dynatrace/dynatrace.py
Due: test_dynatrace

py3 version works
  solarwinds/requirements-dev.txt
  solarwinds/tests/conftest.py
  solarwinds/tests/samples/npm_and_udt_topology_dumps.json
  solarwinds/tests/samples/npm_topology_data.json
  solarwinds/tests/samples/npm_topology_dumps.json
  solarwinds/tests/samples/udt_active.json
  solarwinds/tests/samples/udt_topology_data.json
  solarwinds/tests/test_solarwinds.py
  solarwinds/tox.ini
Due: none

fixed py27 tests
  solarwinds/stackstate_checks/solarwinds/data/conf.yaml.example
  solarwinds/tests/test_solarwinds.py
  solarwinds/tox.ini
Due: none

Added solarwinds to pipeline
  .gitlab-ci.yml
  solarwinds/manifest.json
  stackstate-changelog.md
  stackstate_checks_base/stackstate_checks/base/data/agent_requirements.in
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

Better log message levels
  solarwinds/stackstate_checks/solarwinds/solarwinds.py
Due: none

Minor code improvements
  solarwinds/stackstate_checks/solarwinds/solarwinds.py
Due: none

Code cleanup
  solarwinds/stackstate_checks/solarwinds/solarwinds.py
Due: none

Fixed check test fixture
  solarwinds/tests/conftest.py
Due: none

Added explanantion about mapping health states
  solarwinds/stackstate_checks/solarwinds/solarwinds.py
Due: none

removed unicode chars in comments
  solarwinds/stackstate_checks/solarwinds/solarwinds.py
Due: none

Fixed readme
  solarwinds/README.md
Due: none

STAC-12641 solarwinds (#215)
  .gitlab-ci.yml
  solarwinds/CHANGELOG.md
  solarwinds/MANIFEST.in
  solarwinds/README.md
  solarwinds/manifest.json
  solarwinds/metadata.csv
  solarwinds/requirements-dev.txt
  solarwinds/requirements.in
  solarwinds/setup.py
  solarwinds/stackstate_checks/__init__.py
  solarwinds/stackstate_checks/solarwinds/__about__.py
  solarwinds/stackstate_checks/solarwinds/__init__.py
  solarwinds/stackstate_checks/solarwinds/data/conf.yaml.example
  solarwinds/stackstate_checks/solarwinds/solarwinds.py
  solarwinds/tests/__init__.py
  solarwinds/tests/conftest.py
  solarwinds/tests/samples/npm_and_udt_topology_dumps.json
  solarwinds/tests/samples/npm_topology_data.json
  solarwinds/tests/samples/npm_topology_dumps.json
  solarwinds/tests/samples/udt_active.json
  solarwinds/tests/samples/udt_topology_data.json
  solarwinds/tests/test_solarwinds.py
  solarwinds/tox.ini
  stackstate-changelog.md
  stackstate_checks_base/stackstate_checks/base/data/agent_requirements.in
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

add non-string-key validation
  stackstate_checks_base/stackstate_checks/base/checks/base.py
  stackstate_checks_base/tests/test_agent_check.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

string only key docs
  stackstate_checks_base/stackstate_checks/base/checks/base.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

fix test comments
  stackstate_checks_base/tests/test_agent_check.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

Spit CR collection method, prepration for resending CRs
  servicenow/stackstate_checks/servicenow/servicenow.py
  servicenow/tests/test_servicenow.py
Due: test_servicenow

fix linting in agent base tests
  stackstate_checks_base/stackstate_checks/base/checks/base.py
  stackstate_checks_base/tests/test_agent_check.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

If there is no description, we use short descriton instead.
  servicenow/stackstate_checks/servicenow/servicenow.py
Due: test_servicenow

msgpack dependency:
  stackstate_checks_base/requirements.in
  stackstate_checks_base/stackstate_checks/base/data/agent_requirements.in
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

Added new fields to CR and better log messages
  servicenow/stackstate_checks/servicenow/servicenow.py
Due: test_servicenow
