Repository StackVista/stackstate-agent-integrations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

Path conditions:
  test_stackstate_checks_base: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_stackstate_checks_dev: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_kubernetes: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: kubernetes/*, kubernetes/**/*)
  test_dynatrace: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: dynatrace/*, dynatrace/**/*)
  test_kubelet: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: kubelet/*, kubelet/**/*)
  test_kubernetes_state: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: kubernetes_state/*, kubernetes_state/**/*)
  test_mysql: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: mysql/*, mysql/**/*)
  test_openmetrics: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: openmetrics/*, openmetrics/**/*)
  test_postgres: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: postgres/*, postgres/**/*)
  test_cloudera: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: cloudera/*, cloudera/**/*)
  test_aws_topology: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: aws_topology/*, aws_topology/**/*)
  test_aws_xray: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: aws_xray/*, aws_xray/**/*)
  test_sap: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: sap/*, sap/**/*)
  test_agent_integration_sample: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: agent_integration_sample/*, agent_integration_sample/**/*)
  test_vsphere: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: vsphere/*, vsphere/**/*)
  test_zabbix: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: zabbix/*, zabbix/**/*)
  test_servicenow: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: servicenow/*, servicenow/**/*)
  test_static_topology: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: static_topology/*, static_topology/**/*)
  test_nagios: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: nagios/*, nagios/**/*)
  test_stackstate_checks_dev_win: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_stackstate_checks_base_win: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_wmi_check: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: wmi_check/*, wmi_check/**/*)
  test_cloudera_win: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: cloudera/*, cloudera/**/*)
  test_aws_xray_win: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: aws_xray/*, aws_xray/**/*)
  publish-checks-dev: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*

print env
  .gitlab-ci.yml
Due: none

Fix methods where uri does not exist
  aws_topology/stackstate_checks/aws_topology/resources/api_gateway.py
Due: test_aws_topology

Add MOCK method test
  aws_topology/tests/json/apigateway/get_method_2deae89.json
  aws_topology/tests/json/apigateway/get_resources_4f1f12d.json
Due: test_aws_topology

Create method components for all types
  aws_topology/stackstate_checks/aws_topology/resources/api_gateway.py
  aws_topology/tests/test_apigateway.py
Due: test_aws_topology

used Zandre's structure use nwi ips in set (for checking local/remote) ipv6 support added
  aws_topology/stackstate_checks/aws_topology/flowlogs.py
  aws_topology/stackstate_checks/aws_topology/resources/__init__.py
  aws_topology/stackstate_checks/aws_topology/resources/utils.py
  aws_topology/tests/test_flowlogs.py
Due: test_aws_topology

Fix Cfn test
  aws_topology/tests/test_all_apis.py
Due: test_aws_topology

batching implementation for traces and refactoring
  aws_xray/stackstate_checks/aws_xray/aws_xray.py
  aws_xray/tests/test_aws.py
Due: test_aws_xray, test_aws_xray_win

test
  kubernetes/README.md
Due: test_kubernetes

Fix methods where uri does not exist (#208)
  aws_topology/stackstate_checks/aws_topology/resources/api_gateway.py
  aws_topology/tests/json/apigateway/get_method_2deae89.json
  aws_topology/tests/json/apigateway/get_resources_4f1f12d.json
  aws_topology/tests/test_all_apis.py
  aws_topology/tests/test_apigateway.py
Due: test_aws_topology

only run pipelines on merge requests
  .gitlab-ci.yml
Due: none

add rules for all jobs
  .gitlab-ci.yml
Due: none

test it out
  kubernetes/README.md
Due: test_kubernetes

add to all jobs
  .gitlab-ci.yml
Due: none

fix linting
  .gitlab-ci.yml
Due: none

ci lint fixes
  .gitlab-ci.yml
Due: none

clean kubernetes + openmetrics, add gitlab-ci to base changes
  .gitlab-ci.yml
  kubernetes/README.md
  openmetrics/README.md
Due: test_kubernetes, test_openmetrics

add space
  openmetrics/README.md
Due: test_openmetrics

allow failure
  .gitlab-ci.yml
Due: none

try k8s
  .gitlab-ci.yml
Due: none

cleanup rules
  .gitlab-ci.yml
Due: none

allow failure for manual
  .gitlab-ci.yml
Due: none

add interuptible
  .gitlab-ci.yml
Due: none

try rules
  .gitlab-ci.yml
  kubernetes/README.md
  openmetrics/README.md
Due: test_kubernetes, test_openmetrics

revert changes
  .gitlab-ci.yml
  kubernetes/README.md
  openmetrics/README.md
Due: test_kubernetes, test_openmetrics

refactoring, code improvement and new test
  aws_xray/stackstate_checks/aws_xray/aws_xray.py
  aws_xray/stackstate_checks/aws_xray/data/conf.yaml.example
  aws_xray/tests/conftest.py
  aws_xray/tests/test_aws.py
  stackstate_checks_base/stackstate_checks/base/checks/base.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

cleanup more
  .gitlab-ci.yml
Due: none

test once more
  .gitlab-ci.yml
  splunk_health/README.md
Due: none

add missing splunk health
  .gitlab-ci.yml
Due: none

ready for merge
  .gitlab-ci.yml
  splunk_health/README.md
Due: none

fix the service check test
  aws_xray/stackstate_checks/aws_xray/aws_xray.py
Due: test_aws_xray, test_aws_xray_win

remove default and instance_no_role fixture
  aws_xray/stackstate_checks/aws_xray/aws_xray.py
  aws_xray/tests/conftest.py
Due: test_aws_xray, test_aws_xray_win

add instance url as identifier
  zabbix/stackstate_checks/zabbix/zabbix.py
  zabbix/tests/test_zabbix.py
Due: test_zabbix

add instance url as identifier (#209)
  zabbix/stackstate_checks/zabbix/zabbix.py
  zabbix/tests/test_zabbix.py
Due: test_zabbix

remove comments and put proper doc
  aws_xray/tests/test_aws.py
Due: test_aws_xray, test_aws_xray_win

Fix SQS poll
  aws_topology/tests/cloudformation_infra/helloworld-serverless.yaml
  aws_topology/tests/cloudformation_infra/sqs-poll.py
Due: test_aws_topology

revert small changes
  aws_xray/stackstate_checks/aws_xray/aws_xray.py
Due: test_aws_xray, test_aws_xray_win

Stac-13551: xray memory leak (#205)
  aws_xray/stackstate_checks/aws_xray/aws_xray.py
  aws_xray/stackstate_checks/aws_xray/data/conf.yaml.example
  aws_xray/tests/conftest.py
  aws_xray/tests/data/get_xray_traces.json
  aws_xray/tests/test_aws.py
  stackstate_checks_base/stackstate_checks/base/checks/base.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

Add Aurora Serverless test
  aws_topology/tests/cloudformation_infra/main-account-main-region.cfn.yaml
Due: test_aws_topology

Update CloudFormation integration tests (#210)
  aws_topology/tests/cloudformation_infra/helloworld-serverless.yaml
  aws_topology/tests/cloudformation_infra/main-account-main-region.cfn.yaml
  aws_topology/tests/cloudformation_infra/sqs-poll.py
Due: test_aws_topology
