Repository StackVista/stackstate-agent-integrations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

test_stackstate_checks_base:
  before_script:
  - source .setup-scripts/setup_env.sh
  stage: test
  needs:
  - linux_deps
  services:
  - name: docker:19.03.5-dind
    entrypoint:
    - dockerd-entrypoint.sh
    - /usr/local/bin/dockerd
    - --host=tcp://0.0.0.0:2375
  script:
  - checksdev validate config
  - checksdev validate dep
  ...

test_stackstate_checks_dev:
  before_script:
  - source .setup-scripts/setup_env.sh
  stage: test
  needs:
  - linux_deps
  services:
  - name: docker:19.03.5-dind
    entrypoint:
    - dockerd-entrypoint.sh
    - /usr/local/bin/dockerd
    - --host=tcp://0.0.0.0:2375
  script:
  - source ./.setup-scripts/setup_vsphere_artifactory_publishing.sh
  ...

test_kubernetes:
  before_script:
  - source .setup-scripts/setup_env.sh
  stage: test
  needs:
  - linux_deps
  services:
  - name: docker:19.03.5-dind
    entrypoint:
    - dockerd-entrypoint.sh
    - /usr/local/bin/dockerd
    - --host=tcp://0.0.0.0:2375
  script:
  - source ./.setup-scripts/setup_vsphere_artifactory_publishing.sh
  ...

test_dynatrace:
  before_script:
  - source .setup-scripts/setup_env.sh
  stage: test
  needs:
  - linux_deps
  services:
  - name: docker:19.03.5-dind
    entrypoint:
    - dockerd-entrypoint.sh
    - /usr/local/bin/dockerd
    - --host=tcp://0.0.0.0:2375
  script:
  - source ./.setup-scripts/setup_vsphere_artifactory_publishing.sh
  ...

test_kubelet:
  before_script:
  - source .setup-scripts/setup_env.sh
  stage: test
  needs:
  - linux_deps
  services:
  - name: docker:19.03.5-dind
    entrypoint:
    - dockerd-entrypoint.sh
    - /usr/local/bin/dockerd
    - --host=tcp://0.0.0.0:2375
  script:
  - source ./.setup-scripts/setup_vsphere_artifactory_publishing.sh
  ...

test_kubernetes_state:
  before_script:
  - source .setup-scripts/setup_env.sh
  stage: test
  needs:
  - linux_deps
  services:
  - name: docker:19.03.5-dind
    entrypoint:
    - dockerd-entrypoint.sh
    - /usr/local/bin/dockerd
    - --host=tcp://0.0.0.0:2375
  script:
  - source ./.setup-scripts/setup_vsphere_artifactory_publishing.sh
  ...

test_mysql:
  before_script:
  - source .setup-scripts/setup_env.sh
  stage: test
  needs:
  - linux_deps
  services:
  - name: docker:19.03.5-dind
    entrypoint:
    - dockerd-entrypoint.sh
    - /usr/local/bin/dockerd
    - --host=tcp://0.0.0.0:2375
  script:
  - source ./.setup-scripts/setup_vsphere_artifactory_publishing.sh
  ...

test_openmetrics:
  before_script:
  - source .setup-scripts/setup_env.sh
  stage: test
  needs:
  - linux_deps
  services:
  - name: docker:19.03.5-dind
    entrypoint:
    - dockerd-entrypoint.sh
    - /usr/local/bin/dockerd
    - --host=tcp://0.0.0.0:2375
  script:
  - source ./.setup-scripts/setup_vsphere_artifactory_publishing.sh
  ...

publish-checks-dev:
  stage: publish
  script:
  - source ./.setup-scripts/setup_artifactory_publishing.sh
  - export VERSION=`./.setup-scripts/version.sh`
  - echo "__version__ = \"$VERSION\"" > stackstate_checks_dev/stackstate_checks/dev/__about__.py
  ...

PublicIp of network interface support traffic logging (debug purpose) improved logging
  aws_topology/stackstate_checks/aws_topology/flowlogs.py
Due: test_aws_topology

Fixed network_host identifier
  solarwinds/.gitignore
  solarwinds/stackstate_checks/solarwinds/solarwinds.py
  solarwinds/tests/samples/npm_and_udt_topology_dumps.json
  solarwinds/tests/samples/npm_topology_dumps.json
Due: none

Fixed one more identifier that I missed.
  solarwinds/stackstate_checks/solarwinds/solarwinds.py
Due: none

removed .gitignore
  solarwinds/.gitignore
Due: none

STAC-13796 Solarwinds Component has multiple health statuses (#217)
  solarwinds/stackstate_checks/solarwinds/solarwinds.py
  solarwinds/tests/samples/npm_and_udt_topology_dumps.json
  solarwinds/tests/samples/npm_topology_dumps.json
Due: none

Collect planned CRs
  servicenow/stackstate_checks/servicenow/servicenow.py
Due: test_servicenow

Fixed existing test after adding new SNOW rest api call
  servicenow/tests/test_servicenow.py
Due: test_servicenow

Common code moved to _validate_and_filter_change_requests_response
  servicenow/stackstate_checks/servicenow/servicenow.py
Due: test_servicenow

Fixed docs stings
  servicenow/stackstate_checks/servicenow/servicenow.py
Due: test_servicenow

typo fixed
  servicenow/stackstate_checks/servicenow/servicenow.py
Due: test_servicenow

update tests
  stackstate_checks_base/requirements.in
  stackstate_checks_base/stackstate_checks/base/checks/base.py
  stackstate_checks_base/stackstate_checks/base/data/agent_requirements.in
  stackstate_checks_base/tests/test_agent_check.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

fix linting
  stackstate_checks_base/tests/test_agent_check.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

enforce homogeneous lists and non-string keys in dictionaries in the agent base (#211)
  stackstate_checks_base/requirements.in
  stackstate_checks_base/stackstate_checks/base/checks/base.py
  stackstate_checks_base/stackstate_checks/base/data/agent_requirements.in
  stackstate_checks_base/tests/test_agent_check.py
  stackstate_checks_base/tests/test_encoding.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

Added logic for determining when we need to send a planned CR
  servicenow/stackstate_checks/servicenow/servicenow.py
Due: test_servicenow

Cache with sent planned CR in state
  servicenow/stackstate_checks/servicenow/data/conf.yaml.example
  servicenow/stackstate_checks/servicenow/servicenow.py
Due: test_servicenow

better names and log messages
  servicenow/stackstate_checks/servicenow/data/conf.yaml.example
  servicenow/stackstate_checks/servicenow/servicenow.py
Due: test_servicenow

added custom_planned_start_date
  servicenow/stackstate_checks/servicenow/data/conf.yaml.example
  servicenow/stackstate_checks/servicenow/servicenow.py
Due: test_servicenow

Added custom planned end date field
  servicenow/stackstate_checks/servicenow/data/conf.yaml.example
  servicenow/stackstate_checks/servicenow/servicenow.py
Due: test_servicenow

Debug log message when we Planned CR is sent_cache
  servicenow/stackstate_checks/servicenow/servicenow.py
Due: test_servicenow

Request mock setup
  servicenow/requirements-dev.txt
  servicenow/stackstate_checks/servicenow/servicenow.py
  servicenow/tests/conftest.py
  servicenow/tests/samples/CHG0040007.json
  servicenow/tests/samples/planned_crs.json
  servicenow/tests/test_snow_change_requests.py
Due: test_servicenow

Extracted CMDB_CI tables mock calls
  servicenow/tests/test_snow_change_requests.py
Due: test_servicenow

added release notes for 1.15.0
  stackstate-changelog.md
Due: none

added release notes for 1.15.0 (#218)
  stackstate-changelog.md
Due: none

Better naming and logs
  servicenow/stackstate_checks/servicenow/servicenow.py
  servicenow/tests/test_servicenow.py
Due: test_servicenow

Added test time travel with freezegun
  servicenow/requirements-dev.txt
  servicenow/tests/test_snow_change_requests.py
Due: test_servicenow

Checking sent_planned_crs_cache
  servicenow/tests/test_snow_change_requests.py
Due: test_servicenow

Test sent_cache cleanup
  servicenow/stackstate_checks/servicenow/servicenow.py
  servicenow/tests/test_snow_change_requests.py
Due: test_servicenow

test chanvge of resend schedule
  servicenow/tests/conftest.py
  servicenow/tests/test_snow_change_requests.py
Due: test_servicenow

test custom start and end date fields
  servicenow/stackstate_checks/servicenow/servicenow.py
  servicenow/tests/samples/CHG0040007.json
  servicenow/tests/samples/CHG0040007_custom_cr_fields.json
  servicenow/tests/test_snow_change_requests.py
  solarwinds/README.md
Due: test_servicenow

Better creating topology event from cr test
  servicenow/stackstate_checks/servicenow/servicenow.py
  servicenow/tests/test_servicenow.py
  servicenow/tests/test_snow_change_requests.py
Due: test_servicenow

use to_string in test
  servicenow/tests/test_snow_change_requests.py
Due: test_servicenow

Fixed test creating topo event from cr when field has null value
  servicenow/tests/test_servicenow.py
  servicenow/tests/test_snow_change_requests.py
Due: test_servicenow

test custom_cmdb_ci_field made better
  servicenow/tests/test_servicenow.py
  servicenow/tests/test_snow_change_requests.py
Due: test_servicenow

Better doc string
  servicenow/tests/test_servicenow.py
Due: test_servicenow

moved constants to common.py and models to model.py
  servicenow/stackstate_checks/servicenow/__init__.py
  servicenow/stackstate_checks/servicenow/common.py
  servicenow/stackstate_checks/servicenow/model.py
  servicenow/stackstate_checks/servicenow/servicenow.py
  servicenow/tests/test_snow_change_requests.py
Due: test_servicenow

Renamed py model module to models
  servicenow/stackstate_checks/servicenow/__init__.py
  servicenow/stackstate_checks/servicenow/models.py
  servicenow/stackstate_checks/servicenow/servicenow.py
Due: test_servicenow

removed unused config
  servicenow/tests/conftest.py
Due: test_servicenow

Added release notes
  stackstate-changelog.md
Due: none

STAC-13256 ServiceNow resend CR on planned date (#216)
  servicenow/requirements-dev.txt
  servicenow/stackstate_checks/servicenow/__init__.py
  servicenow/stackstate_checks/servicenow/common.py
  servicenow/stackstate_checks/servicenow/data/conf.yaml.example
  servicenow/stackstate_checks/servicenow/models.py
  servicenow/stackstate_checks/servicenow/servicenow.py
  servicenow/tests/conftest.py
  servicenow/tests/samples/CHG0040007_custom_cr_fields.json
  servicenow/tests/samples/planned_crs.json
  servicenow/tests/test_servicenow.py
  servicenow/tests/test_snow_change_requests.py
  solarwinds/README.md
  stackstate-changelog.md
Due: test_servicenow

Path conditions:
  test_stackstate_checks_base: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_stackstate_checks_dev: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_kubernetes: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: kubernetes/*, kubernetes/**/*)
  test_dynatrace: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: dynatrace/*, dynatrace/**/*)
  test_kubelet: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: kubelet/*, kubelet/**/*)
  test_kubernetes_state: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: kubernetes_state/*, kubernetes_state/**/*)
  test_mysql: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: mysql/*, mysql/**/*)
  test_openmetrics: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: openmetrics/*, openmetrics/**/*)
  test_postgres: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: postgres/*, postgres/**/*)
  test_cloudera: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: cloudera/*, cloudera/**/*)
  test_aws_topology: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: aws_topology/*, aws_topology/**/*)
  test_aws_xray: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: aws_xray/*, aws_xray/**/*)
  test_sap: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: sap/*, sap/**/*)
  test_agent_integration_sample: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: agent_integration_sample/*, agent_integration_sample/**/*)
  test_vsphere: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: vsphere/*, vsphere/**/*)
  test_zabbix: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: zabbix/*, zabbix/**/*)
  test_servicenow: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: servicenow/*, servicenow/**/*)
  test_static_topology: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: static_topology/*, static_topology/**/*)
  test_nagios: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: nagios/*, nagios/**/*)
  test_stackstate_checks_dev_win: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_stackstate_checks_base_win: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_wmi_check: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: wmi_check/*, wmi_check/**/*)
  test_cloudera_win: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: cloudera/*, cloudera/**/*)
  test_aws_xray_win: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: aws_xray/*, aws_xray/**/*)
  publish-checks-dev: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
