Repository StackVista/stackstate-agent-integrations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

Path conditions:
  test_stackstate_checks_base: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_stackstate_checks_dev: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_kubernetes: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: kubernetes/*, kubernetes/**/*)
  test_dynatrace: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: dynatrace/*, dynatrace/**/*)
  test_kubelet: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: kubelet/*, kubelet/**/*)
  test_kubernetes_state: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: kubernetes_state/*, kubernetes_state/**/*)
  test_mysql: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: mysql/*, mysql/**/*)
  test_openmetrics: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: openmetrics/*, openmetrics/**/*)
  test_postgres: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: postgres/*, postgres/**/*)
  test_cloudera: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: cloudera/*, cloudera/**/*)
  test_aws_topology: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: aws_topology/*, aws_topology/**/*)
  test_aws_xray: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: aws_xray/*, aws_xray/**/*)
  test_sap: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: sap/*, sap/**/*)
  test_agent_integration_sample: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: agent_integration_sample/*, agent_integration_sample/**/*)
  test_vsphere: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: vsphere/*, vsphere/**/*)
  test_zabbix: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: zabbix/*, zabbix/**/*)
  test_servicenow: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: servicenow/*, servicenow/**/*)
  test_static_topology: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: static_topology/*, static_topology/**/*)
  test_nagios: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: nagios/*, nagios/**/*)
  test_stackstate_checks_dev_win: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_stackstate_checks_base_win: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_wmi_check: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: wmi_check/*, wmi_check/**/*)
  test_cloudera_win: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: cloudera/*, cloudera/**/*)
  test_aws_xray_win: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: aws_xray/*, aws_xray/**/*)
  publish-checks-dev: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*

Extracted rest api calls to client module
  servicenow/stackstate_checks/servicenow/__init__.py
  servicenow/stackstate_checks/servicenow/client.py
  servicenow/stackstate_checks/servicenow/servicenow.py
  servicenow/tests/conftest.py
  servicenow/tests/test_servicenow.py
Due: test_servicenow

change test instance fixture name
  servicenow/tests/conftest.py
  servicenow/tests/test_snow_change_requests.py
Due: test_servicenow

Moved client test to its own python module
  servicenow/tests/conftest.py
  servicenow/tests/test_client.py
  servicenow/tests/test_servicenow.py
Due: test_servicenow

started on _get_json tests
  servicenow/tests/conftest.py
  servicenow/tests/test_client.py
Due: test_servicenow

Migrated get_json utf and malformed json tests
  servicenow/stackstate_checks/servicenow/client.py
  servicenow/tests/samples/cmdb_ci_result_malformed_json_with_error_msg.txt
  servicenow/tests/samples/cmdb_ci_result_with_malformed_json.txt
  servicenow/tests/samples/cmdb_ci_result_with_utf8.json
  servicenow/tests/test_client.py
  servicenow/tests/test_servicenow.py
Due: test_servicenow

Migrated more client test
  servicenow/tests/samples/cmdb_ci_result_200.json
  servicenow/tests/samples/cmdb_ci_result_error_message.json
  servicenow/tests/test_client.py
  servicenow/tests/test_servicenow.py
Due: test_servicenow

added utf-8 header to client test module
  servicenow/tests/test_client.py
Due: test_servicenow

flake happiness
  aws_topology/tests/test_flowlogs.py
Due: test_aws_topology

added 2 tests for cloudtrail
  aws_topology/tests/test_cloudtrail.py
Due: test_aws_topology

and some test files
  aws_topology/tests/json/cloudtrail/versioning_disabled/get_bucket_versioning_xxx.json
  aws_topology/tests/json/cloudtrail/versioning_disabled/get_object_xxx.json
  aws_topology/tests/json/cloudtrail/versioning_disabled/list_objects_v2_xxx.json
Due: test_aws_topology

added empty result as file
  servicenow/tests/conftest.py
  servicenow/tests/samples/empty_result.json
  servicenow/tests/test_snow_change_requests.py
Due: test_servicenow

Stac 13274: custom device support (#213)
  dynatrace/stackstate_checks/dynatrace/data/conf.yaml.example
  dynatrace/stackstate_checks/dynatrace/dynatrace.py
  dynatrace/tests/samples/custom_device_response.json
  dynatrace/tests/samples/custom_device_response_next_page.json
  dynatrace/tests/samples/expected_custom_device_pagination_full_topology.json
  dynatrace/tests/samples/expected_custom_device_topology.json
  dynatrace/tests/test_dynatrace_event.py
  dynatrace/tests/test_dynatrace_tags.py
  dynatrace/tests/test_dynatrace_topology.py
Due: test_dynatrace

update dependencies
  stackstate_checks_base/requirements.in
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

update base dependency
  stackstate_checks_base/stackstate_checks/base/data/agent_requirements.in
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

update dependency
  stackstate_checks_base/requirements.in
  stackstate_checks_base/stackstate_checks/base/data/agent_requirements.in
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

half_bytes bytes_per_second tests
  aws_topology/stackstate_checks/aws_topology/flowlogs.py
  aws_topology/tests/test_flowlogs.py
Due: test_aws_topology

comment for division seen handling ec2 and autoscaling readme
  aws_topology/stackstate_checks/aws_topology/flowlogs.py
  aws_topology/stackstate_checks/aws_topology/resources/autoscaling.py
  aws_topology/stackstate_checks/aws_topology/resources/ec2.py
  aws_topology/stackstate_checks/aws_topology/resources/readme.md
Due: test_aws_topology

Fixed docsting, removed development log message, better var names
  aws_topology/stackstate_checks/aws_topology/flowlogs.py
Due: test_aws_topology

Optimized imports
  aws_topology/stackstate_checks/aws_topology/flowlogs.py
Due: test_aws_topology

removed priority from event validation
  stackstate_checks_base/stackstate_checks/base/utils/telemetry.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

Code cleanup
  aws_topology/stackstate_checks/aws_topology/aws_topology.py
  aws_topology/stackstate_checks/aws_topology/resources/__init__.py
  aws_topology/stackstate_checks/aws_topology/resources/registry.py
  aws_topology/stackstate_checks/aws_topology/utils.py
Due: test_aws_topology

Events are cached now
  aws_topology/stackstate_checks/aws_topology/aws_topology.py
  aws_topology/stackstate_checks/aws_topology/resources/ec2.py
  aws_topology/stackstate_checks/aws_topology/resources/elb_classic.py
  aws_topology/stackstate_checks/aws_topology/resources/elb_v2.py
  aws_topology/stackstate_checks/aws_topology/resources/registry.py
Due: test_aws_topology

removed priority from event validation (#221)
  stackstate_checks_base/stackstate_checks/base/utils/telemetry.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

fix pipelines
  .gitlab-ci.yml
Due: none

fix windows paths
  .gitlab-ci.yml
Due: none

STAC-12309 Pull kubernetes_state changes from Datadog
  kubernetes_state/CHANGELOG.md
  kubernetes_state/README.md
  kubernetes_state/manifest.json
  kubernetes_state/metadata.csv
  kubernetes_state/service_checks.json
  kubernetes_state/setup.py
  kubernetes_state/stackstate_checks/__init__.py
  kubernetes_state/stackstate_checks/kubernetes_state/__about__.py
  kubernetes_state/stackstate_checks/kubernetes_state/__init__.py
  kubernetes_state/stackstate_checks/kubernetes_state/data/auto_conf.yaml
  kubernetes_state/stackstate_checks/kubernetes_state/data/conf.yaml.example
  kubernetes_state/stackstate_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/tests/fixtures/ksm-standard-tags-gke.txt
  kubernetes_state/tests/fixtures/prometheus.txt
  kubernetes_state/tests/test_kubernetes_state.py
  kubernetes_state/tox.ini
  stackstate_checks_base/stackstate_checks/base/checks/openmetrics/mixins.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

fixes
  .gitlab-ci.yml
Due: none

always load deps, even if venv exists
  .setup-scripts/setup_env.sh
Due: none

win path fixes
  .gitlab-ci.yml
Due: none

try pulling dind from artifactory to reduce rate limiting
  .gitlab-ci.yml
Due: none

fix windows path
  .gitlab-ci.yml
Due: none

dind artifactory lookup
  .gitlab-ci.yml
Due: none

use cache accross steps
  .gitlab-ci.yml
  .setup-scripts/setup_env.sh
Due: none

remove cache, check existence of checksdev otherwise load_deps
  .gitlab-ci.yml
  .setup-scripts/setup_env.sh
Due: none

add some logs
  .gitlab-ci.yml
Due: none

add some logs 2
  .gitlab-ci.yml
Due: none

remove checksdev check for now
  .setup-scripts/setup_env.sh
Due: none

Cache events #first_setup
  aws_topology/stackstate_checks/aws_topology/aws_topology.py
  aws_topology/stackstate_checks/aws_topology/resources/registry.py
Due: test_aws_topology

freeze pip
  .gitlab-ci.yml
Due: none
