Repository StackVista/stackstate-agent-integrations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

test_stackstate_checks_base:
  before_script:
  - source .setup-scripts/setup_env.sh
  stage: test
  needs:
  - linux_deps
  services:
  - name: docker:19.03.5-dind
    entrypoint:
    - dockerd-entrypoint.sh
    - /usr/local/bin/dockerd
    - --host=tcp://0.0.0.0:2375
  script:
  - checksdev validate config
  - checksdev validate dep
  ...

test_stackstate_checks_dev:
  before_script:
  - source .setup-scripts/setup_env.sh
  stage: test
  needs:
  - linux_deps
  services:
  - name: docker:19.03.5-dind
    entrypoint:
    - dockerd-entrypoint.sh
    - /usr/local/bin/dockerd
    - --host=tcp://0.0.0.0:2375
  script:
  - source ./.setup-scripts/setup_vsphere_artifactory_publishing.sh
  ...

test_kubernetes:
  before_script:
  - source .setup-scripts/setup_env.sh
  stage: test
  needs:
  - linux_deps
  services:
  - name: docker:19.03.5-dind
    entrypoint:
    - dockerd-entrypoint.sh
    - /usr/local/bin/dockerd
    - --host=tcp://0.0.0.0:2375
  script:
  - source ./.setup-scripts/setup_vsphere_artifactory_publishing.sh
  ...

test_dynatrace:
  before_script:
  - source .setup-scripts/setup_env.sh
  stage: test
  needs:
  - linux_deps
  services:
  - name: docker:19.03.5-dind
    entrypoint:
    - dockerd-entrypoint.sh
    - /usr/local/bin/dockerd
    - --host=tcp://0.0.0.0:2375
  script:
  - source ./.setup-scripts/setup_vsphere_artifactory_publishing.sh
  ...

test_kubelet:
  before_script:
  - source .setup-scripts/setup_env.sh
  stage: test
  needs:
  - linux_deps
  services:
  - name: docker:19.03.5-dind
    entrypoint:
    - dockerd-entrypoint.sh
    - /usr/local/bin/dockerd
    - --host=tcp://0.0.0.0:2375
  script:
  - source ./.setup-scripts/setup_vsphere_artifactory_publishing.sh
  ...

test_kubernetes_state:
  before_script:
  - source .setup-scripts/setup_env.sh
  stage: test
  needs:
  - linux_deps
  services:
  - name: docker:19.03.5-dind
    entrypoint:
    - dockerd-entrypoint.sh
    - /usr/local/bin/dockerd
    - --host=tcp://0.0.0.0:2375
  script:
  - source ./.setup-scripts/setup_vsphere_artifactory_publishing.sh
  ...

test_mysql:
  before_script:
  - source .setup-scripts/setup_env.sh
  stage: test
  needs:
  - linux_deps
  services:
  - name: docker:19.03.5-dind
    entrypoint:
    - dockerd-entrypoint.sh
    - /usr/local/bin/dockerd
    - --host=tcp://0.0.0.0:2375
  script:
  - source ./.setup-scripts/setup_vsphere_artifactory_publishing.sh
  ...

test_openmetrics:
  before_script:
  - source .setup-scripts/setup_env.sh
  stage: test
  needs:
  - linux_deps
  services:
  - name: docker:19.03.5-dind
    entrypoint:
    - dockerd-entrypoint.sh
    - /usr/local/bin/dockerd
    - --host=tcp://0.0.0.0:2375
  script:
  - source ./.setup-scripts/setup_vsphere_artifactory_publishing.sh
  ...

publish-checks-dev:
  stage: publish
  script:
  - source ./.setup-scripts/setup_artifactory_publishing.sh
  - export VERSION=`./.setup-scripts/version.sh`
  - echo "__version__ = \"$VERSION\"" > stackstate_checks_dev/stackstate_checks/dev/__about__.py
  ...

retry pip freeze
  .gitlab-ci.yml
Due: none

retry pip freeze 2
  .gitlab-ci.yml
Due: none

retry pip freeze 3
  .gitlab-ci.yml
  .setup-scripts/setup_env.sh
Due: none

print artifacts
  .gitlab-ci.yml
Due: none

print artifacts 3
  .gitlab-ci.yml
Due: none

retry with different shebang
  .gitlab-ci.yml
  .setup-scripts/load_deps.sh
  .setup-scripts/setup_artifactory_docker.sh
  .setup-scripts/setup_artifactory_publishing.sh
  .setup-scripts/setup_env.sh
  .setup-scripts/setup_vsphere_artifactory_publishing.sh
Due: none

revert, explicitly source again
  .gitlab-ci.yml
  .setup-scripts/load_deps.sh
  .setup-scripts/setup_artifactory_docker.sh
  .setup-scripts/setup_artifactory_publishing.sh
  .setup-scripts/setup_env.sh
  .setup-scripts/setup_vsphere_artifactory_publishing.sh
Due: none

moving some things arround
  .gitlab-ci.yml
Due: none

echo venv status
  .setup-scripts/setup_env.sh
Due: none

cleanup echoes
  .gitlab-ci.yml
  .setup-scripts/setup_env.sh
Due: none

add some logging
  .gitlab-ci.yml
  .setup-scripts/setup_env.sh
Due: none

add some more logging
  .setup-scripts/setup_env.sh
Due: none

revert unneccessary renames
  .gitlab-ci.yml
Due: none

fix executable script modes
  .setup-scripts/load_deps.sh
  .setup-scripts/setup_env.sh
Due: none

fix pipelines (#222)
  .gitlab-ci.yml
  .setup-scripts/load_deps.sh
  .setup-scripts/setup_env.sh
Due: none

Code cleanup
  aws_topology/stackstate_checks/aws_topology/aws_topology.py
  aws_topology/stackstate_checks/aws_topology/flowlogs.py
  aws_topology/stackstate_checks/aws_topology/resources/registry.py
  aws_topology/stackstate_checks/aws_topology/utils.py
  aws_topology/tests/conftest.py
  aws_topology/tests/test_cloudtrail.py
  aws_topology/tests/test_flowlogs.py
Due: test_aws_topology

STAC-12309 Remove `integration_id` and `assets`
  kubernetes_state/manifest.json
Due: test_kubernetes_state

output activate script
  .setup-scripts/setup_env.sh
Due: none

export the venv path
  .setup-scripts/setup_env.sh
Due: none

test checks
  aws_topology/manifest.json
  dynatrace/manifest.json
  kubernetes/manifest.json
  sap/manifest.json
  servicenow/manifest.json
  stackstate_checks_base/tox.ini
  vsphere/manifest.json
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

update dependencies (#220)
  stackstate_checks_base/requirements.in
  stackstate_checks_base/stackstate_checks/base/data/agent_requirements.in
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

fix attribute type and tests
  dynatrace/stackstate_checks/dynatrace/dynatrace.py
  dynatrace/tests/samples/expected_host_topology.json
  dynatrace/tests/samples/expected_smartscape_full_topology.json
  dynatrace/tests/samples/host_response.json
Due: test_dynatrace

WIP
  aws_topology/stackstate_checks/aws_topology/aws_topology.py
  aws_topology/stackstate_checks/aws_topology/flowlogs.py
Due: test_aws_topology

Add raw metrics submit as part of the telemetry api
  .gitignore
  stackstate_checks_base/stackstate_checks/base/checks/base.py
  stackstate_checks_base/stackstate_checks/base/stubs/telemetry.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

Changed append location and type for the raw metrics
  stackstate_checks_base/stackstate_checks/base/stubs/telemetry.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

Add raw metrics submit as part of the telemetry api
  stackstate_checks_base/stackstate_checks/base/stubs/telemetry.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

fix attribute type and tests (#227)
  dynatrace/stackstate_checks/dynatrace/dynatrace.py
  dynatrace/tests/samples/expected_host_topology.json
  dynatrace/tests/samples/expected_smartscape_full_topology.json
  dynatrace/tests/samples/host_response.json
Due: test_dynatrace

Added raw metrics into the integration sample test
  agent_integration_sample/stackstate_checks/agent_integration_sample/agent_integration_sample.py
Due: test_agent_integration_sample

Added raw metric under agent integration sample
  agent_integration_sample/stackstate_checks/agent_integration_sample/agent_integration_sample.py
  agent_integration_sample/tests/test_agent_integration_sample.py
  stackstate_checks_base/stackstate_checks/base/stubs/telemetry.py
Due: test_stackstate_checks_base, test_stackstate_checks_dev, test_kubernetes, test_dynatrace, test_kubelet, test_kubernetes_state, test_mysql, test_openmetrics, test_postgres, test_cloudera, test_aws_topology, test_aws_xray, test_sap, test_agent_integration_sample, test_vsphere, test_zabbix, test_servicenow, test_static_topology, test_nagios, test_stackstate_checks_dev_win, test_stackstate_checks_base_win, test_wmi_check, test_cloudera_win, test_aws_xray_win, publish-checks-dev

Create interface components with MAC address and no IP address
  solarwinds/stackstate_checks/solarwinds/solarwinds.py
  solarwinds/tests/test_solarwinds.py
Due: none

Fixed raw metric test
  agent_integration_sample/stackstate_checks/agent_integration_sample/agent_integration_sample.py
  agent_integration_sample/tests/test_agent_integration_sample.py
Due: test_agent_integration_sample

Added changelog with SW fix
  stackstate-changelog.md
Due: none

STAC-14057 Create interface components with MAC address and no IP address (#229)
  solarwinds/stackstate_checks/solarwinds/solarwinds.py
  solarwinds/tests/test_solarwinds.py
  stackstate-changelog.md
Due: none

Send metric streams and checks with component and relation
  aws_topology/stackstate_checks/aws_topology/aws_topology.py
Due: test_aws_topology

support tags for host in zabbix
  zabbix/stackstate_checks/zabbix/zabbix.py
Due: test_zabbix

add and fix tests
  zabbix/tests/test_zabbix.py
Due: test_zabbix

support common tag and add tests
  zabbix/stackstate_checks/zabbix/zabbix.py
  zabbix/tests/test_zabbix.py
Due: test_zabbix

Path conditions:
  test_stackstate_checks_base: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_stackstate_checks_dev: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_kubernetes: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: kubernetes/*, kubernetes/**/*)
  test_dynatrace: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: dynatrace/*, dynatrace/**/*)
  test_kubelet: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: kubelet/*, kubelet/**/*)
  test_kubernetes_state: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: kubernetes_state/*, kubernetes_state/**/*)
  test_mysql: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: mysql/*, mysql/**/*)
  test_openmetrics: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: openmetrics/*, openmetrics/**/*)
  test_postgres: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: postgres/*, postgres/**/*)
  test_cloudera: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: cloudera/*, cloudera/**/*)
  test_aws_topology: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: aws_topology/*, aws_topology/**/*)
  test_aws_xray: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: aws_xray/*, aws_xray/**/*)
  test_sap: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: sap/*, sap/**/*)
  test_agent_integration_sample: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: agent_integration_sample/*, agent_integration_sample/**/*)
  test_vsphere: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: vsphere/*, vsphere/**/*)
  test_zabbix: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: zabbix/*, zabbix/**/*)
  test_servicenow: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: servicenow/*, servicenow/**/*)
  test_static_topology: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: static_topology/*, static_topology/**/*)
  test_nagios: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: nagios/*, nagios/**/*)
  test_stackstate_checks_dev_win: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_stackstate_checks_base_win: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
  test_wmi_check: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: wmi_check/*, wmi_check/**/*)
  test_cloudera_win: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: cloudera/*, cloudera/**/*)
  test_aws_xray_win: (any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*) or (any of: aws_xray/*, aws_xray/**/*)
  publish-checks-dev: any of: stackstate_checks_base/*, stackstate_checks_base/**/*, stackstate_checks_dev/*, stackstate_checks_dev/**/*, stackstate_checks_tests_helper/*, stackstate_checks_tests_helper/**/*
